
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <div class="mu-title">
             <h2 class="heading-with-border">COURSE</h2>
           </div>         
          </div>
        
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="mu-title">
             <h2 class="heading-with-border animate__animated animate__bounce">CMA Course</h2>              
           </div>
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-12 col-sm-12">
                 <!-- start course content container -->
                 <div class="mu-course-container">
                   <div class="row">
                     <div class="col-md-4 col-sm-4">
                     <div class="mu-latest-course-single">
                       <figure class="mu-latest-course-img">
                         <a routerLink="/cma-course/cma-foundation"><img class="animate__animated animate__rotateIn" src="../../../assets/img/cma/5.png" alt="img"></a>
                      
                       </figure>
                       <div class="mu-latest-course-single-content">
                         <h4><a routerLink="/cma-course/cma-foundation">CMA Foundation Course</a></h4>
                        
                       
                       </div>
                     </div> 
                   </div>                  
                   <div class="col-md-4 col-sm-4">
                     <div class="mu-latest-course-single">
                       <figure class="mu-latest-course-img">
                         <a routerLink="/cma-course/cma-intermediate"><img class="animate__animated animate__rotateIn" src="../../../assets/img/cma/7.png" alt="img"></a>
                       
                       </figure>
                       <div class="mu-latest-course-single-content">
                         <h4><a routerLink="/cma-course/cma-intermediate">CMA Intermediate Course</a></h4>
                       
                       </div>
                     </div>
                   </div>
                   <div class="col-md-4 col-sm-4">
                     <div class="mu-latest-course-single">
                       <figure class="mu-latest-course-img">
                         <a routerLink="/cma-course/cma-final"><img class="animate__animated animate__rotateIn" src="../../../assets/img/cma/8.png" alt="img"></a>
                        </figure>
                       <div class="mu-latest-course-single-content">
                         <h4><a routerLink="/cma-course/cma-final">CMA Final Course</a></h4>
  
                       </div>
                     </div> 
                   </div>                  
               
                   </div>
                 </div>
              
            </div>
          </div>
        </div>
      </div>
 </div>
 </div>
  </section>
 
 
 
 
 
 
 
   
  