<!-- End search box -->
<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <div class="mu-title">
              <h2 class="heading-with-border">CMA Course</h2>
            </div>
            <p class="p">CMA Final Course Details</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-latest-course-single">
                        <figure class="mu-latest-course-img">
                          <a href="#"
                            ><img src="../../../../assets/img/cma/8.png" class=" animate__animated animate__zoomIn" alt="img"
                          /></a>
                        </figure>
                        <div class="mu-latest-course-single-content">
                          <h2 class="animate__animated animate__bounce"><a href="#">CMA Final Course</a></h2>
  
                          <h4><b>ELIGIBITY</b></h4>
                          <p>
                            Intermediate qualified students are eligible to enroll to the Final Course of the Institute- Only the candidates who have passed Intermediate Examination of the Institute of Cost Accountants of India are eligible for admission to Final Course
                          </p>
                         
  
                          <h4 style="color: rgb(255, 166, 0)">
                            <b>Registration Procedure</b>
                          </h4>
  
                       <p>Students desirous to apply for Registration ONLINE can visit <a href=" https://eicmai.in/studentportal/Home"   style="color: blue"> https://eicmai.in/studentportal/Home</a></p>
                         
                         <p>
                            <I>Students who wish o apply offline shall submit their Postal Application form, duly filled in together with relevant documents and remittances to their <b>respective Regional Councils / Chapters</b> only.
                            </I>
                         </p>
                         <p>Documents to be enclosed with application form:
                        </p>
                        <div class="table-responsive">
                            <table class="table">
                            <thead>
                              <tr>
                                <th> Admission Form</th>
                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td> Form S3 : Admission form for foundation. </td>                              
                              </tr>                                                         
                            </tbody>
                          </table>
                       <p>Copy of Intermediate Pass Marksheet is to be furnished along with the Admission Form
                    </p>
                          </div>
                          <h4 > <b>Details of Fees</b>	 </h4> 
                          <h3>Option I</h3>
                          <div class="table-responsive">
                           <table class="table">
                           <thead>
                             <tr>
                               <th> Particular</th>
                               <th> Amount </th>
                               <th> Remarks </th>
                             
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td> Final</td>
                               <td> Rs 25,100/-  </td>
                               <td>Payable on or before <b>31st January for June term</b>and <b> 31st July for Decemeber term  </b> of examination.
                               </td>
                             
                             </tr>            
                          
                           </tbody>
                         </table>
                         </div>
                         <h3>Option II</h3>
                         <div class="table-responsive">
                           <table class="table">
                           <thead>
                             <tr>
                               <th> Particular</th>
                               <th> Amount </th>
                               <th> Remarks </th>
                             
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td> Final  </td>
                               <td> Rs 15,000/- (for Ist Installment) </td>
                               <td>At the time of registeration in intermediate course.
                               </td>
                             
                             </tr>            
                             <tr>
                               <td>   </td>
                               <td> Rs 10,1000/- (for 2nd Installment) </td>
                               <td>Payable on or before <b>31st January for June term</b>and <b>31st JUly for December term</b> examination.</td>
                             
                             </tr>  
                           </tbody>
                         </table>
                        
                         </div>
                         <h3 class="" style="color:#013120;text-align: center;">
                            <b> Papers at Final Level
</b>
 
                           </h3>
                           <h2>Group III</h2>
                          <ul>
                            <li><b>Paper 13:</b> Corporate and Economic Laws (CEL)


                            </li>
                            <li>
                                <b>Paper 14:</b> Strategic Financial Management (SFM) 


                            </li>
                            <li>
                                <b>Paper 15:</b>Direct Tax Laws and International Taxation (DIT) 



                            </li>
                            <li><b>Paper 16:</b>Strategic Cost Management (SCM) Group – IV


                            </li>
                            <li><b>Paper 17:</b>Corporate Financial Reporting (CFR) 

                            </li>
                            <li><b>Paper 18:</b>Indirect Tax Laws and Practice (ITLP)

                            </li>
                            <li><b>Paper 19:</b>Risk Management in Banking and Insurance (RMBI)
 
                            </li>
                            <li><b>Paper 20A:</b>Strategic Performance Management and Business Valuation (SPMBV) 
                            </li>
                            <li><b>Paper 20B: </b>Risk Management in Banking and Insurance (RMBI)
                            </li>
                            <li><b>Paper 20C:</b>Entrepreneurship and Start up (ENTS) 
                            </li>
                          </ul>
<p><b>Note: </b>Students will be required to select any one of three Elective Papers  (20A/20B/20C) at the time of enrolment for the Final course.
</p>
                          
                         
                       
                          <h4 style="color: rgb(255, 166, 0)">
                            <b>Passing Criteria</b>
                          </h4>
                       
                          <ol>
                              <li>
                                Pass in a Group in Final 
                                A student shall be declared to have passed in a group of an examination, if he/she secures minimum 40% marks in each paper of the group and an aggregate of 50% of total marks of non-exempted papers of that group
                                
                                  <ul>
                                      <li>
                                        A student will be declared passed in Final examination if he/she passes all groups in that examination

                                      </li>
                                      <li>
                                       <b> Exemption:</b> If a student is unsuccessful in passing a group but secures 60% or more in any paper or papers, he/she shall be exempted in the paper from appearing in subsequent examination. For calculation of aggregate in the subsequent examination of the group, the marks in each of the exempted papers will be reckoned as 50

                                      </li>
                                      <li>
                                        Carry Forward of Marks: If a student is unsuccessful in passing a group but secures 60% or more in any paper and minimum 40% marks in each of the remaining papers of the group at a time, he/she shall be exempted in that paper from appearing in subsequent examination and allowed the benefit of carry forward of actual marks of that paper in his subsequent examination of the group. The benefit of exemption or carry forward of marks mentioned above, shall automatically cease if a candidate, on his own, appears in any examination for such exempted paper(s) 

                                      </li>
                                      <li>
                                        The benefit of carry forward/exemption is allowed for the immediately successive three terms of Examination from the term in which the exemption is secured in the particular paper(s) by appearance in examination 
                                      </li>
                                  </ul>
                              </li>
                           
                          </ol>
                          <h5>EXAM FORM FEES:
                        </h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="../../../../assets/img/cma/course1.jpeg">
                            </div>
                        </div>
                        <h5>DATE OF APPLICATION FOR EXAMINATION
                        </h5>
                        <p>In case a candidate applies for examination through online mode using Credit/Debit Card / Net Banking / UPI or through Bank Challan.
                        </p>
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="../../../../assets/img/cma/course2.jpeg">
                            </div>
                        </div>
                          <h5><b>TRAINING DURING CMA COURSE</b>
                        </h5>
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="../../../../assets/img/cma/CMA_Training_Scheme.jpg" width="100%">
                            </div>
                        </div>
                        </div>
                      </div>
                     
                  
                  
                    </div>
                  </div>
                </div>
               
                
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Categories</h3>
                    <ul class="mu-sidebar-catg" style="list-style-type: none">
                        <li><a routerLink="/cma-course/cma-foundation"    >CMA Foundation</a></li>
                        <li><a routerLink="/cma-course/cma-intermediate">CMA Intermediate</a></li>
                        <li><a  routerLink="/cma-course/cma-final" style="color: orange">CMA Final</a></li>
                      </ul>
                  </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Result</h3>
                    <div class="mu-sidebar-popular-courses">
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img
                              class="media-object"
                              src="../../../../assets/img/cma/cma.jpeg"
                              alt="img"
                            />
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">
                            <a  routerLink="/result"
                              >CMA Foundation</a
                            >
                          </h4>
                          <!-- <span class="popular-course-price">$200.00</span> -->
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img
                              class="media-object"
                              src="../../../../assets/img/cma/cma.jpeg"
                              alt="img"
                            />
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">
                            <a routerLink="/result">CMA Intermediate</a>
                          </h4>
                          <!-- <span class="popular-course-price">$250.00</span> -->
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img
                              class="media-object"
                              src="../../../../assets/img/cma/cma.jpeg"
                              alt="img"
                            />
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">
                            <a  style="color: orange" routerLink="/result">CMA Final</a>
                          </h4>
                          <!-- <span class="popular-course-price">$90.00</span> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                      <h3>Our Batches</h3>
                      Batches are announced time to time refer our home page for the ongoing batches.
                       
               
                    </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Faculties</h3>
                    <div class="tag-cloud">
                      <a  (click)="navigateToSection('faculty', 'section1')">CMA Foundation</a>
                      <a  (click)="navigateToSection('faculty', 'section2')">CMA Intermediate</a>
                      <a routerLink="/faculty" style="color:orange">CMA Final</a>
                    </div>
                   
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  