
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <div class="mu-title">
            <h2 class="heading-with-border">COURSE</h2>
          </div>

        
        
           
         </div>
       
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="mu-title">
            <h2 class="heading-with-border">CA Course</h2>              
          </div>
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <!-- start course content container -->
                <div class="mu-course-container">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                    <div class="mu-latest-course-single">
                      <figure class="mu-latest-course-img">
                        <a routerLink="/ca-course/ca-foundation"><img src="../../assets/img/course/2.png" alt="img"></a>
                     
                      </figure>
                      <div class="mu-latest-course-single-content">
                        <h4><a routerLink="/ca-course/ca-foundation">CA Foundation Course</a></h4>
                       
                      
                      </div>
                    </div> 
                  </div>                  
                  <div class="col-md-4 col-sm-4">
                    <div class="mu-latest-course-single">
                      <figure class="mu-latest-course-img">
                        <a routerLink="/ca-course/ca-intermediate"><img src="../../assets/img/course/4.png" alt="img"></a>
                      
                      </figure>
                      <div class="mu-latest-course-single-content">
                        <h4><a routerLink="/ca-course/ca-intermediate">CA Intermediate Course</a></h4>
                      
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="mu-latest-course-single">
                      <figure class="mu-latest-course-img">
                        <a routerLink="/ca-course/ca-final"><img src="../../assets/img/course/6.png" alt="img"></a>
                       </figure>
                      <div class="mu-latest-course-single-content">
                        <h4><a routerLink="/ca-course/ca-final">CA Final Course</a></h4>
 
                      </div>
                    </div> 
                  </div>                  
              
                  </div>
                </div>
             
           </div>
         </div>
       </div>
     </div>
</div>
</div>
 </section>







  
 