
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <div class="mu-title">
             <h2 class="heading-with-border">Buy COURSE</h2>
           </div>
 
         
          
            
          </div>
        
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content" *ngIf="foundationCourse.length >0 ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-title">
            <h2 class="heading-with-border">Foundation Course</h2>              
          </div>
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-12 col-sm-12">
                 <!-- start course content container -->
                 <div class="mu-course-container">
                   <div class="row">
                     <div class="col-md-3 col-sm-3  col-xs-12"  *ngFor="let item of foundationCourse">
                     <div class="mu-latest-course-single">
                       <figure class="mu-latest-course-img">
                         <a href="{{item.courseLink}}"><img [src]="item.courseImage" class="animate__animated animate__zoomIn" alt="img"></a>
                      
                       </figure>
                       <div class="mu-latest-course-single-content">
                         <h4><a href="{{item.courseLink}}"><button style="width: 100%;height: 30px;font-size: 15px;" class="btn btn-success">Buy Course</button></a></h4>
                        
                       
                       </div>
                     </div> 
                   </div>                  
                  
                   </div>
                 </div>
              
            </div>
          </div>
        </div>
      </div>
 </div>
 </div>
  </section>

  <section id="mu-course-content"  *ngIf="IntermedaietCOurse.length >0 ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-title">
            <h2 class="heading-with-border">Intermediate Course</h2>              
          </div>
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-12 col-sm-12">
                 <!-- start course content container -->
                 <div class="mu-course-container">
                   <div class="row">
                     <div class="col-md-3 col-sm-3  col-xs-12" *ngFor="let item of IntermedaietCOurse">
                     <div class="mu-latest-course-single">
                       <figure class="mu-latest-course-img">
                         <a href="{{item.courseLink}}"><img [src]="item.courseImage"  class="animate__animated animate__zoomIn" alt="img"></a>
                      
                       </figure>
                       <div class="mu-latest-course-single-content">
                         <h4><a href="{{item.courseLink}}"><button style="width: 100%;height: 30px;font-size: 15px;" class="btn btn-success">Buy Course</button></a></h4>
                        
                       
                       </div>
                     </div> 
                   </div>                  
               
                   </div>
                 </div>
              
            </div>
          </div>
        </div>
      </div>
 </div>
 </div>
  </section>
 
 
 
