

<app-header></app-header>


<router-outlet>
</router-outlet>
<br>
<a href="https://wa.me/918920890370" class="whatsapp-button">
<span>Chat with Us</span>
  <img src="../assets/img/WhatsApp_icon.png" height="60px" width="60px">
</a>

<footer id="mu-footer">
  <div class="mu-footer-top">
    <div class="container">
      <div class="mu-footer-top-area">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="mu-footer-widget">
              <h4><b>Social Media</b></h4>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-sm-1">
                      <a href="https://www.facebook.com/profile.php?id=100078100813309&mibextid=ZbWKwL" target="_blank" class="facebook" aria-label="Facebook">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </div>
                    <div class="col-sm-1">
                      <a href="https://instagram.com/caamitaroraclasses?igshid=MzNlNGNkZWQ4Mg==" target="_blank" class="instagram" aria-label="Instagram">
                        <i class="fa fa-instagram"></i>
                      </a>
                      </div>
                    <div class="col-sm-1">
                      <a href="https://www.youtube.com/channel/UCDnAykgNFvZS3TmVl6UuhAQ" target="_blank" class="youtube" aria-label="YouTube">
                        <i class="fa fa-youtube"></i>
                      </a>
                    </div>
                  
                  </div>
               
              </div>
            </div>
          </div>
        
       
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="mu-footer-widget">
              <h4><b>Contact</b></h4>
              <address>
                
                <p><b>Address:</b> C -9, New Krishna Park Vikaspuri near Janakpuri (West) metro station</p>
                <p><b>Phone:</b> 8920 890 370 / 011-79 666 978 </p>
                <p><b>Email:</b> caamitaroraclasses@gmail.com </p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer top -->
  <!-- start footer bottom -->
  <div class="mu-footer-bottom">
    <div class="container-fluid">
      <div class="mu-footer-bottom-area">
        <p>&copy; All Right Reserved. Designed by <a  rel="nofollow">Anveshika Srivastava</a></p>
      </div>
    </div>
  </div>
  <!-- end footer bottom -->
</footer>