.row.content {height: auto}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
 
}
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}

table th{
  font-size: 14px;
}

tr{
  font-size: 10px;
}
.nav{
  flex-direction: column !important;
}
.table-wrapper {
  max-height: 400px; /* Set the height as per your requirement */
  overflow-y: auto; /* Enable vertical scroll */
}
.delete-icon{
  cursor: pointer;
}
.table-wrapper2{
  max-height: 400px; /* Set the height as per your requirement */
  overflow-y: auto;
}