<!-- End search box -->
<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <div class="mu-title">
            <h2 class="heading-with-border">CA Course</h2>
          </div>
          <p class="p">CA Final Course Details</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-course-content-area">
          <div class="row">
            <div class="col-md-9">
              <!-- start course content container -->
              <div class="mu-course-container mu-course-details">
                <div class="row">
                  <div class="col-md-12">
                    <div class="mu-latest-course-single">
                      <figure class="mu-latest-course-img">
                        <a href="#"
                          ><img src="../../../assets/img/course/6.png" class=" animate__animated animate__zoomIn" alt="img"
                        /></a>
                      </figure>
                      <div class="mu-latest-course-single-content animate__animated animate__bounce">
                        <h2><a href="#">CA Final Course</a></h2>

                        <h4><b>DESCRIPTION</b></h4>
                        <p>
                          After successfully passing Intermediate Examination, a
                          student has to register for Final Course and
                          Self-Paced Online Modules. The Final Course consists
                          of two Groups - Group I and Group II.
                        </p>
                        <p>Each group consists of three papers.</p>

                        <h4 style="color: rgb(255, 166, 0)">
                          <b>Registration Procedure</b>
                        </h4>

                        <p>
                          ICAI has a centralised Self Service portal to manage
                          the process of registration. All administrative
                          interactions throughout the life cycle of students
                          covering Intermediate and Final courses are done
                          through this portal and there is no need for personal
                          visit or submission of physical documents. Students
                          need to submit self-attested documents online within
                          the Self Service Portal.
                        </p>
                        <p>
                          Candidate has to visit
                          <a
                            href="https://www.icai.org/post/students-services"
                            style="color: blue"
                            >https://www.icai.org/post/students-services</a
                          >
                          to reach Self Service Portal for the process.
                        </p>
                        <p>
                          At the time of registration of Final course, students
                          would be required to register for self-paced online
                          module also. The form for final course registration
                          will contain the facility to opt for the subject under
                          self-paced online module Set C and Set D. No separate
                          fee is payable for registration of self-paced online
                          modules, namely, SETs <b>A, B, C</b> and<b> D</b>.
                        </p>
                        <p>
                          After successful registration, students will be
                          provided details to order study material through the
                          Centralised Distribution System Portal, i.e.,<a
                            style="color: blue"
                            href="https://icai-cds.org/"
                          >
                            https://icai-cds.org/</a
                          >
                        </p>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Details Of Fees</th>
                                <th>Rupees</th>
                                <th>For Foreign Student US($)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Final Registration Fee</td>
                                <td>22,000*</td>
                                <td>$ 1,000</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <h4><b>ADMISSION TO FINAL EXAMINATION</b></h4>
                        <p>
                          Students shall be admitted to Final Examination if:
                        </p>
                        <ol>
                          <li>He is registered for the Final Course.</li>
                          <li>
                            He Has completed Practical Training, six months before the first day of the month in which the examination is to be held.

                          </li>
                          <li>He has successfully completed Advanced Integrated Course on Information Technology and Soft Skills (Adv. IT & MCS).
                        </li>
                        <li>Has passed the Self-paced Online Modules.
                        </li>
                        <li>Students shall pay Examination fees, as may be fixed by the Council for Final Examination.
                        </li>
                        </ol>
                        <p>The subjects of Final Course are classified into two groups with three papers each. The students can study and appear in the Examination group-wise or both the groups together.

                        </p>
                        <h4 style="color: rgb(255, 166, 0)">
                          <b>Passing Criteria</b>
                        </h4>
                        <p>
                            A candidate may appear in both the groups simultaneously or in one group in one examination and in the remaining group at any subsequent examination. He is declared to have passed the Final examination, if he passes both the groups

                        </p>
                        <ol>
                            <li>
                                A candidate shall ordinarily be declared to have passed in both the groups simultaneously, if he-
                                <ul>
                                    <li>Secures at one sitting a minimum of 40% marks in each paper of each of the groups and minimum of 50% marks in the aggregate of all the papers of each of the groups;
                                        or
                                        </li>
                                        <li>
                                            Secures at one sitting a minimum of 40% marks in each paper of both the groups and minimum of 50% marks in the aggregate of all the papers of both the groups taken together.
    
                                        </li>
                                </ul>
                            </li>
                          <li>
                            A candidate shall be declared to have passed in a group if he-
                            <ul>
                                <li>Secures at one sitting a minimum of 40% marks in each paper of group and minimum of 50% marks in the aggregate of all the papers of that group.
                                </li>
                            </ul>
                          </li>
                        </ol>
                        <h3 class="" style="color: #013120; text-align: center">
                          <b> Papers at Final Level</b>
                        </h3>
                        <h5><b>Group I</b></h5>
                        <div class="row">   
                          <div class="col-sm-12">
                            <img
                              src="../../../assets/img/PAPER 1/4.png"
                              width="100%"
                            />
                          </div>
                        </div>
                        <h5><b>Group II</b></h5>
                        <div class="row">
                          
                            <div class="col-sm-12">
                              <img
                                src="../../../assets/img/PAPER 1/5.png"
                                width="100%"
                              />
                            </div>
                          </div>
                        <h4 style="color:blue">EXEMPTION
                        </h4>
                        <p>A student who appeared in all the papers comprised in a Group/Unit and fails in one or more papers in that Group/Unit but secures a minimum of 60% marks in any paper(s) of that Group/Unit shall be eligible for exemption in that paper(s) in the next three following examinations. Which means that while he is availing the benefit of exemption secured in paper(s) during previous examination, he shall have to qualify the remaining papers in any of the next three following examination.
                        </p>
                        <p>
                            He shall be declared to have passed in that Group/Unit if he secures at one sitting a minimum of 40% marks in each of the papers of that Group/Unit and a minimum of 50% of the total marks of all the papers of that Group/Unit including the paper(s) in which he had secured a minimum of 60% marks in the earlier examination.
                            <I><b>He shall not be eligible for any further exemptions in the remaining paper(s) of that Group/Unit until he has exhausted the exemptions already granted to him in that Group/Unit
                            </b></I>
                        </p>
                        <p>
                            If a candidate has exhausted the exemption granted to him under sub-regulation (6) of Regulation 38E and he was not able to pass the said Group or Unit, he may opt for the continuing of said exemption to the subsequent examinations. However, in such a case, such candidate shall be required to obtain a minimum of fifty per cent marks in each of the remaining paper/s of that Group or Unit in order to declare him to have passed in that Group or Unit

                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <!-- start sidebar -->
              <aside class="mu-sidebar">
                <!-- start single sidebar -->
                <div class="mu-single-sidebar">
                  <h3>Categories</h3>
                  <ul class="mu-sidebar-catg" style="list-style-type: none">
                    <li><a routerLink="/ca-course/ca-foundation" >CA Foundation</a></li>
                    <li><a routerLink="/ca-course/ca-intermediate">CA Intermediate</a></li>
                    <li><a  routerLink="/ca-course/ca-final" style="color: orange">CA Final</a></li>
                  </ul>
                </div>
                <!-- end single sidebar -->
                <!-- start single sidebar -->
                <div class="mu-single-sidebar">
                  <h3>Result</h3>
                  <div class="mu-sidebar-popular-courses">
                    <div class="ca media">
                      <div class="media-left">
                        <a href="#">
                          <img
                            class="media-object"
                            src="../../../assets/img/PAPER 1/small-logo-course.png"
                            alt="img"
                          />
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          <a  routerLink="/result"
                            >CA Foundation</a
                          >
                        </h4>
                        <!-- <span class="popular-course-price">$200.00</span> -->
                      </div>
                    </div>
                    <div class="ca media">
                      <div class="media-left">
                        <a href="#">
                          <img
                            class="media-object"
                            src="../../../assets/img/PAPER 1/small-logo-course.png"
                            alt="img"
                          />
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          <a routerLink="/result">CA Intermediate</a>
                        </h4>
                        <!-- <span class="popular-course-price">$250.00</span> -->
                      </div>
                    </div>
                    <div class="ca media">
                      <div class="media-left">
                        <a href="#">
                          <img
                            class="media-object"
                            src="../../../assets/img/PAPER 1/small-logo-course.png"
                            alt="img"
                          />
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          <a  style="color: orange" routerLink="/result">CA Final</a>
                        </h4>
                        <!-- <span class="popular-course-price">$90.00</span> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end single sidebar -->
                <!-- start single sidebar -->
                <div class="mu-single-sidebar">
                    <h3>Our Batches</h3>
                    Batches are announced time to time refer our home page for the ongoing batches.
                     
             
                  </div>
                <!-- end single sidebar -->
                <!-- start single sidebar -->
                <div class="mu-single-sidebar">
                  <h3>Faculties</h3>
                  <div class="tag-cloud">
                    <a  (click)="navigateToSection('faculty', 'section1')">CA Foundation</a>
                    <a  (click)="navigateToSection('faculty', 'section2')">CA Intermediate</a>
                    <a routerLink="/faculty" style="color:orange">CA Final</a>
                  </div>
                 
                </div>
                <!-- end single sidebar -->
              </aside>
              <!-- / end sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
