

 
  <!-- End search box -->
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
             <div class="mu-title">
               <h2 class=" heading-with-border">CMA Course</h2>
             </div>
             <p class="p">
           
            CMA Intermediate Course Details
          
             </p>
              
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                         <figure class="mu-latest-course-img">
                           <a href="#"><img src="../../../../assets/img/cma/7.png" class=" animate__animated animate__zoomIn" alt="img"></a>
                          
                         </figure>
                         <div class="mu-latest-course-single-content">
                           <h2 class="animate__animated animate__bounce"><a href="#">CMA Intermediate Course</a></h2>
                         
                           <h4><b>ELIGIBILITY </b></h4>
                          <p>Passed Senior Secondary School Examination / Higher Secondary Examination (10+2) and Foundation Course of the Institute of Cost Accountants of India or qualified the Foundation (Entry Level) Part I Examination of Certificate in Accounting Technicians (CAT) Course of the Institute of Cost Accountants of India or Degree examination of any recognized University or Qualified Engineers or equivalent in any subject other than music, dancing, photography, painting & sculpture and the likes, Qualified the Intermediate Examination (by whatever name called) conducted by the Institute of Chartered Accountants of India eligible to get direct admission to Intermediate Course.</p>
                       
                          
                           <h4 style="color:rgb(255, 166, 0)"> <b>Registration Procedure</b>	
                         </h4>
                         <p>Students desirous to apply for Registration ONLINE can visit <a href="https://eicmai.in/studentportal/Home " style="color:blue">https://eicmai.in/studentportal/Home </a>
                            <p><I>Students who wish o apply offline shall submit their Postal Application form, duly filled in together with relevant documents and remittances to their <b>respective Regional Councils / Chapters</b> only.
                            </I></p>
                                   
                       <p>Documents to be enclosed with application form:
                    </p>
                             <div class="table-responsive">
                                 <table class="table">
                                 <thead>
                                   <tr>
                                     <th> Admission Form</th>
                                   
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>Form S2 Registeration form for intermediate </td>                          
                                   </tr>                                                         
                                 </tbody>
                               </table>
                            
                               </div>
                               <ol>
                                <li>Attested Copy of Matriculation Certificate
                                </li>
                                <li>Attested copy of 10+2 Certificate or Marks Statement
                                </li>
                                <li>
                                    3(Three) Passport size photographs - (One pasted on application form, one pasted on identity card and one to be attached with application)

                                </li>
                               </ol>   
                               <h4 > <b>Details of Fees</b>	 </h4> 
                               <h3>Option I</h3>
                               <div class="table-responsive">
                                <table class="table">
                                <thead>
                                  <tr>
                                    <th> Particular</th>
                                    <th> Amount </th>
                                    <th> Remarks </th>
                                  
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td> Intermediate  </td>
                                    <td> Rs 23,100/-  </td>
                                    <td>Payable on or before <b>31st January for June term</b>and <b> 31st July for Decemeber term  </b> of examination.
                                    </td>
                                  
                                  </tr>            
                               
                                </tbody>
                              </table>
                              </div>
                              <h3>Option II</h3>
                              <div class="table-responsive">
                                <table class="table">
                                <thead>
                                  <tr>
                                    <th> Particular</th>
                                    <th> Amount </th>
                                    <th> Remarks </th>
                                  
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td> Intermediate  </td>
                                    <td> Rs 12,000/- (for Ist Installment) </td>
                                    <td>At the time of registeration in intermediate course.
                                    </td>
                                  
                                  </tr>            
                                  <tr>
                                    <td>   </td>
                                    <td> Rs 11,100/- (for 2nd Installment) </td>
                                    <td>Payable on or before <b>31st January for June term</b>and <b>31st JUly for December term</b> examination.</td>
                                  
                                  </tr>  
                                </tbody>
                              </table>
                              <p style="text-align: center;"><b>*It includes Skill Training facilities fees of Rs 1,100 /- </b></p>
                              </div>

                           <h4><b>ADMISSION TO INTERMEDIAE EXAMINATION
</b></h4>
                           <ul>
                           <li>
                            Admission to intermediate course for the ICMAI course is open throughout the year However, Students desirous to appear for June Term Examination should apply before 31st January of that year and for December Term Examination should apply before 31st July of that year.

                           </li>
                           <li>
                            Students who appeared in a degree examination and are awaiting result may apply for provisional registration in the prescribed form to the respective Regional Council Office/Chapters/CMA Support Centers. They should submit the pass result within the stipulated time period of 18 (eighteen) months from the date of such Provisional Registration to the respective Regional Council Office/Chapters/CMA Support Centers.

                           </li>
                           <li>Admission must be completed at least (4) four months prior to the commencement of Examination
                        </li>
                           </ul>
                           <h4 style="color:rgb(255, 166, 0)"><b>Passing Criteria</b></h4>
                         <ul>
                            <li>
                                Pass in a Group in Intermediate 
                                <p>A student shall be declared to have passed in a group of an examination, if he/she secures minimum 40% marks in each paper of the group and an aggregate of 50% of total marks of non-exempted papers of that group
                                </p>
                            </li>
                            <li>
                                A student will be declared passed in Intermediate examination if he/she passes all groups in that examination

                            </li>
                            <li>
                               <b> Exemption:</b> If a student is unsuccessful in passing a group but secures 60% or more in any paper or papers, he/she shall be exempted in the paper from appearing in subsequent examination. For calculation of aggregate in the subsequent examination of the group, the marks in each of the exempted papers will be reckoned as 50

                            </li>
                            <li>
                               <b> Carry Forward of Marks:</b> If a student is unsuccessful in passing a group but secures 60% or more in any paper and minimum 40% marks in each of the remaining papers of the group at a time, he/she shall be exempted in that paper from appearing in subsequent examination and allowed the benefit of carry forward of actual marks of that paper in his subsequent examination of the group. The benefit of exemption or carry forward of marks mentioned above, shall automatically cease if a candidate, on his own, appears in any examination for such exempted paper(s) 

                            </li>
                            <li>
                                The benefit of carry forward/exemption is allowed for the immediately successive three terms of Examination from the term in which the exemption is secured in the particular paper(s) by appearance in examination 
                            </li>
                           
                         </ul>

                           <h3 class="" style="color:#013120;text-align: center;">
                            <b> Papers at Intermediate Level
</b>
 
                           </h3>
                           <h2>Group I</h2>
                          <ul>
                            <li><b>Paper 5:</b> Business Laws and Ethics (BLE) 

                            </li>
                            <li>
                                <b>Paper 6:</b> Financial Accounting (FA) 

                            </li>
                            <li>
                                <b>Paper 7:</b>Direct and Indirect Taxation (DITX) 


                            </li>
                            <li><b>Paper 8:</b>Cost Accounting (CA) 

                            </li>
                          </ul>

                          <h2>Group II</h2>
                          <ul>
                            <li><b>Paper 9:</b> Operations Management and Strategic Management (OMSM) 


                            </li>
                            <li>
                                <b>Paper 10:</b> Corporate Accounting and Auditing (CAA) 


                            </li>
                            <li>
                                <b>Paper 11:</b>Financial Management and Business Data Analytics (FMDA)


                            </li>
                            <li><b>Paper 12:</b>Management Accounting (MA)


                            </li>
                          </ul>
                          <p>
                            Each Paper consists of 100 marks bifurcated into 30 marks of MCQ-based questions and 70 marks of descriptive questions divided into 7 questions of 14 marks each out of which any 5 are to be attempted by the candidate.


                          </p>
                       
                         </div>
                       </div> 
                     </div>                                   
                   </div>
                 </div>
               </div>
               <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg" style="list-style-type: none">
                      <li><a routerLink="/cma-course/cma-foundation"   >CMA Foundation</a></li>
                      <li><a routerLink="/cma-course/cma-intermediate" style="color: orange">CMA Intermediate</a></li>
                      <li><a  routerLink="/cma-course/cma-final">CMA Final</a></li>
                    </ul>
                  
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>RESULT</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object"  src="../../../../assets/img/cma/cma.jpeg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a  routerLink="/result">CMA Foundation</a></h4>                      
                           <!-- <span class="popular-course-price">$200.00</span> -->
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object"  src="../../../../assets/img/cma/cma.jpeg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a routerLink="/result" style="color:orange">CMA Intermediate</a></h4>                      
                           <!-- <span class="popular-course-price">$250.00</span> -->
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object"   src="../../../../assets/img/cma/cma.jpeg" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a routerLink="/result">CMA Final</a></h4>                      
                           <!-- <span class="popular-course-price">$90.00</span> -->
                         </div>
                       </div>
                     </div>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Our Batches</h3>
                     Batches are announced time to time refer our home page for the ongoing batches.
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Faculties</h3>
                     <div class="tag-cloud">
                      <a (click)="navigateToSection('faculty', 'section1')" style="color:orange" fragment="section1">CMA Foundation</a>
                      <a (click)="navigateToSection('faculty', 'section2')" fragment="section2">CMA Intermediate</a>
                      <a routerLink="/faculty">CMA Final</a>
                    </div>
                   </div>
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
   