

<app-banner></app-banner>
<section id="mu-about-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-sm-12 col-md-12 col-xs-12  about ">
        <div class="mu-title">
          <h2 class="heading-with-border animate__animated animate__bounce" style="font-size: 28px;">About Us</h2>              
        </div>
        <!-- End Title -->
        <p><b>CA. Amit Arora Classes</b> is an institute designed for aspiring professionals, providing the knowledge and skills essential for building a successful career. Our faculty, with advanced degrees and expertise in specialized fields, have come together with a shared mission to redefine education.</p>
        <p>
          At AAC, we are dedicated to guiding students through every stage of their journey toward success. Our focus is on building a solid foundation of knowledge and skills that will serve as a springboard for students to ascend the ladder of professional excellence.
        </p>

        <p>
          <b>AAC was founded in 2016 by CA</b>. Amit Arora, inspired by his passion for delivering exceptional educational services to students pursuing <b> CA, CMA, </b>and <b>CS</b> qualifications. In a remarkably short period, AAC has grown significantly, attracting a large student base due to its high standards of education and consistently excellent results establishing itself as one of Best institutes in Delhi, India.
        </p>
        <p>
          AAC offers flexible learning options to cater to the diverse needs of students, we provide:
        </p>
        <ul>
          <li> Face-to-face classes for an interactive, in-person experience, </li>
          <li> Direct-to-Home (D2H) live classes that allow students to learn from the comfort of their homes in real time. </li>
          <li> Recorded classes are available for those who prefer to study at their own pace, providing the flexibility to access lessons anytime, anywhere.</li>
        </ul>
    </div>
  
    <div class="col-lg-5 col-sm-12 col-md-12  col-xs-12   imageChange animate__animated animate__zoomIn">
      <img  src="../../assets/img/social/aboutus.jpeg" alt="img">
    </div>
   </div>
  </div>
  
</section>
<section>
  <div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
    <a >
      <img class="responsive-image-banner" src="../../assets/img/banner9.jpeg">
    </a>
    </div>
  </div>
</section>
   



    <section  style="background-color: rgb(167, 167, 148); border: 1px solid black">
   
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mu-our-teacher-area">
              <!-- begain title -->
              <div class="mu-title">
                <h2 class=" heading-with-border animate__animated animate__bounce" style="color:white">Latest Events</h2>
             
              </div>
           
              <div >
                <div class="row">
                  <div 
                    class="col-lg-3 col-md-4 col-sm-6 " 
                    style="margin-top: 10px;"
                    *ngFor="let item of EventData; let i = index" 
                    (mouseenter)="onMouseEnter(i)" 
                    (mouseleave)="onMouseLeave(i)"
                  >
                    <img [src]="item.eventFile" [alt]="item.eventName" [ngClass]="{'animate__animated animate__zoomIn': showOverlays[i]}" height="200px" width="100%" style="border: 2px solid black;">
                    <div class="overlay" [ngClass]="{'animate__animated animate__fadeIn': showOverlays[i]}">
                      <div class="text text-css" *ngIf="showOverlays[i]">{{ item.eventName }}</div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <!-- end title -->
              <!-- begain our teacher content -->
         
              <!-- End our teacher content -->           
            </div>
          </div>
        </div>
      </div>
    </section>
    
 
  <section style="position: relative;top: 10px;">
    
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 animate__animated animate__flipInX">
        <img class="responsive-image-banner" src="../../assets/img/GOOGLE DRIVE.png">
      </div>
    
    </div>
  
  </section>

  <!-- End about us counter -->



  <section id="mu-our-teacher" style="background: #8b5a7e;">
    <div class="container">
      <div class="row " >
        <div class="col-md-12" >
          <div class="mu-our-teacher-area">
            <!-- begain title -->
            <div class="mu-title" >
              <h2 class=" heading-with-border animate__animated animate__bounce" style="color:white">Our Rankholders Shares Feedback</h2>
            </div>
            <!-- end title -->
            <!-- begain our teacher content -->
            <div class="mu-our-teacher-content">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4  col-sm-4"  (mouseenter)="onMouseEnterImg()" 
                (mouseleave)="onMouseLeaveImg()">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <a id="mu-abtus-video" href="../../assets/img/feedback1.mp4" target="mutube-video" > 
                        <img  src="../../assets/img/1.png" alt="img" [ngClass]="{ 'animate__animated animate__zoomIn': isHovered }" style="border: 4px solid black;">
                      </a>   
                      <a id="mu-abtus-video" href="../../assets/img/feedback1.mp4" target="mutube-video">  
                      <button  class="centered red-color-btn">
                       
                        <i class="fa fa-play-circle"></i> </button>
                        </a>
                     
                     
                      <!-- <div class="mu-our-teacher-social">
                       
                      </div> -->
                    </figure>                    
                 
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"  (mouseenter)="onMouseEnterImg2()" 
                (mouseleave)="onMouseLeaveImg2()">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <a id="mu-abtus-video" href="../../assets/img/feedback2.mp4" class="animate__animated animate__zoomIn" target="mutube-video">
                        <img src="../../assets/img/2.png" alt="img" [ngClass]="{ 'animate__animated animate__zoomIn': isHovered2 }" style="border: 4px solid black;">
                       
                      </a>     
                    
                        <a id="mu-abtus-video" href="../../assets/img/feedback2.mp4" target="mutube-video">
                          <button   class="centered red-color-btn"> <i class="fa fa-play-circle"></i>   </button>
                        </a>
                   
                     
                    </figure>                    
                
                  </div>
                </div>
               
                
              </div>
            </div> 
            <!-- End our teacher content -->           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mu-testimonial">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-testimonial-area">
            <div id="mu-testimonial-slide" class="mu-testimonial-content">
            <div >
              <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
                <ng-template class="mu-testimonial-item" ngbSlide *ngFor="let event of testinomial">
                 <div class="mu-testimonial-quote">
                  <blockquote>
                    <p style="color: white;font-size: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                  {{event?.reviewDescription}}
                    </p>
                   </blockquote>
                 </div>
                 <div class="mu-testimonial-img" style="position: relative;text-align: center;">
                 
                  <img [src]="event.studentImage" alt="img" class="circular--square"  height="100px" width="100px">
                </div>
                 
                <div class="mu-testimonial-info" style="position: relative;text-align: center;">
                  <h4 style="color: white;font-size: 16px;">{{event?.studentName}} </h4>
                  <span style="color: orange;font-size: 14px;">{{event?.studentDetails}}</span>
                </div>
                
                  <!-- <div class="carousel-caption">
                    <h3>{{ event.eventLocation }}</h3>
                    <p [innerText]="event.eventDescription"></p>
                  </div> -->
                </ng-template>
              </ngb-carousel>
            </div>
            </div>
    </div>
    </div>
    </div>
    </div>

    
    
    
    
   
  </section>





  <section id="mu-contact">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">
           <!-- start title -->
           <div class="mu-title">
             <h2 class=" heading-with-border animate__animated animate__bounce">Get in Touch</h2>
             <p>For any questions or concerns, don't hesitate to reach out to me through this platform.</p>
           </div>
           <!-- end title -->
           <!-- start contact content -->
           <div class="mu-contact-content" style="background-color: white;padding: 18px;">   
           
<div *ngIf="isVisible" style="text-align: left;color:red" class="timed-div">
  We will be in touch with you soon
</div>        
             <div class="row">
               <div class="col-md-6" >
                 <div class="mu-contact-left">
                   <form class="contactform" [formGroup]="contactForm" (ngSubmit)="onSubmit()">                  
                     <p class="comment-form-author">
                       <label for="author">Name <span class="required">*</span></label>
                       <input type="text" formControlName="name" required="required" size="30" value="" name="author">
                     </p>
                     <p class="comment-form-email">
                       <label for="email">Email <span class="required">*</span></label>
                       <input type="email" formControlName="email" required="required" aria-required="true" value="" name="email">
                     </p>
                     <p class="comment-form-email">
                      <label for="phone">Contact Number <span class="required">*</span></label>
                      <input type="text" formControlName="phone" required="required" aria-required="true" value=""  maxlength="10" pattern="^[0-9]*$" (keypress)="allowOnlyNumbers($event)"
                      (input)="restrictMaxLength($event)" name="phone">
                    </p>
                     <p class="comment-form-url">
                       <label for="subject">Subject<span class="required">*</span></label>
                       <input type="text" formControlName ="subject" name="subject">  
                     </p>
                     <p class="comment-form-comment">
                       <label for="comment">Message<span class="required">*</span></label>
                       <textarea required="required" formControlName ="message" aria-required="true" rows="8" cols="45" name="comment"></textarea>
                     </p>                
                     <p class="form-submit">
                       <input type="submit" value="Send Message" class="mu-post-btn" name="submit">
                     </p>        
                   </form>
                 </div>
               </div>
               <div class="col-md-6">
                 <div class="mu-contact-right">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3502.005209162322!2d77.07371987550066!3d28.629605975666358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDM3JzQ2LjYiTiA3N8KwMDQnMzQuNyJF!5e0!3m2!1sen!2sin!4v1727331270306!5m2!1sen!2sin"
                   width="100%" height="450" frameborder="0" style="border:0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
                 </div>
               </div>
             </div>
           </div>
           <!-- end contact content -->
          </div>
        </div>
      </div>
    </div>
  </section>
 

  
  <!-- End testimonial -->
  
  
