

 
  <!-- End search box -->
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
             <div class="mu-title">
               <h2 class=" heading-with-border">CA Course</h2>
             </div>
             <p class="p">
           
            CA Intermediate Course Details
          
             </p>
              
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                         <figure class="mu-latest-course-img">
                           <a href="#"><img src="../../../assets/img/course/4.png" alt="img"></a>
                          
                         </figure>
                         <div class="mu-latest-course-single-content">
                           <h2><a href="#">CA Intermediate Course</a></h2>
                         
                           <h4><b>DESCRIPTION</b></h4>
                           <p>Students can register for Intermediate level of CA Course through two routes, namely:
                                </p>
                                <ul>
                                    <li>After qualifying Foundation Course, or
                                    </li>
                                    <li>
                                        Through Direct Entry, if candidates are Graduates/Post Graduates with prescribed percentage of marks or have qualified the Intermediate Level examination of The Institute of Cost Accountants of India/ The Institute of Company Secretaries of India.
                                    </li>
                                </ul>

                                <h4 style="color: rgb(11, 11, 115);">DIRECT ENTRY ROUTE
                                </h4>
                       <p>The ICAI allows the following candidates to enter directly to its Intermediate Course:
                    </p>
                    <ul>
                        <li>
                            Commerce Graduates/Post-Graduates	(with minimum 55%	marks) or Other Graduates/ Post-Graduates (with minimum 60% marks) and

                        </li>
                        <li>
                            Intermediate level passed candidates of The Institute of Company Secretaries of India and The Institute of Cost Accountants of India. or Candidates who have passed the Intermediate level examination conducted by The Institute of Cost Accountants of India or by The Institute of Company Secretaries of India are exempted from qualifying Foundation and can register directly to Intermediate Course.

                        </li>
                    </ul>

                    <h5><b>Provisional Registration</b>
                    </h5>
                    <p>Candidates who are pursuing the Final Year Graduation/Post Graduation Course shall be eligible for provisional registration to the Intermediate Course which shall be confirmed only on submission of satisfactory proof of having passed the Graduation/Post Graduation examination with the minimum marks as mentioned above, before making the application for admission to Intermediate Examination.
                    </p>
                    <p>
                        And if the candidate fails to secure minimum marks as mentioned above before making the application for admission to Intermediate Examination, his provisional registration shall be cancelled, no credit shall be given for the theoretical education undergone and the Council may on receipt of an application from a candidate who is unable to produce the satisfactory proof referred to in this regulation, permit refund of such amount of registration and tuition fee, as may be decided by it from time to time.

                    </p>
                          
                    <h5><b>Conversion to Direct Entry Route
                    </b></h5>
                    <p>
                        Existing Students of Common Proficiency Course/Foundation Course on being eligible to join Intermediate Course through Direct Entry Route can any time register for Intermediate Course through Direct route by paying the Intermediate Registration fees only.

                    </p>
                    <p>
                        Existing Students of Intermediate Course through CPT/ Foundation Course on being eligible to join Intermediate Course through Direct Entry Route will apply for conversion to Intermediate through Direct Entry Route.

                    </p>
                           <h4 style="color:rgb(255, 166, 0)"> <b>Registration Procedure</b>	
                         </h4>
                       
                            <p>
                                ICAI has a centralised <b>Self Service Portal</b> to manage the process of registration. All administrative interactions throughout the life cycle of students covering Intermediate and Final courses are done through this portal and there is no need for personal visit or submission of physical documents. Students need to submit self-attested documents online by visiting <a  style="color:blue" href="https://www.icai.org/post/students-services.
                                ">https://www.icai.org/post/students-services.
                                </a>
                            </p>
                         
                            <p>
                                Direct Entry students may also register by filling Online Registration Form given on the Page. Click on the link - Entry level forms [Foundation and Intermediate (Direct Entry)]. Students of Foundation route can also convert to Direct Entry route by logging into Self-Service Portal and follow the process of conversion. On completion of the registration process, the study material can be ordered by the students through Centralized Distribution System (CDS) Portal, i.e. <a href="icai-cds.org" style="color:blue">icai-cds.org</a>.

                            </p>
                             <div class="table-responsive">
                                 <table class="table">
                                 <thead>
                                   <tr>
                                     <th> Registration including
                                        Various charges
                                        
                                        </th>
                                     <th> Both Groups
                                        (Rs)
                                        
                                         </th>
                                     <th> Both Groups
                                        (US$)
                                        
                                         </th>
                                   
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td>Registration Fee </td>
                                     <td> 15,000* </td>
                                     
                                   <td></td>
                                   </tr>
                                 
                                   <tr>
                                     <td>Students' Activities Fee

                                     </td>
                                     <td> 2,000 </td>
                                     <td></td>
                                    
                                    
                                   </tr>
                                   <tr>
                                    <td>Registration fee as articled assistant
                                    </td>
                                    <td>1,000

                                    </td>
                                    <td> </td>
                                   
                                  </tr>
                                  <tr>
                                    <td>Total Fees
                                    </td>
                                    <td>18,000

                                    </td>
                                    <td>$ 1,000

                                    </td>
                                   
                                  </tr>
                                 </tbody>
                               </table>
                               </div>
                                 
                          
                           <h4><b>ADMISSION TO INTERMEDIATE EXAMINATION</b></h4>
                           <ol>
                             <li>
                                Students shall be admitted to Intermediate Examination if:

                                     <ul>
                                       <li>He is enrolled for the Intermediate Course.
                                    </li>
                                         <li>
                                            He produces a certificate to the effect that he has undergone a study course, for a period not less than eight months as on the first day of the month in which the examination is held.

                                         </li>
                                     </ul>
 
                             </li>
                             <li>
                                Students shall pay Examination fees, as may be fixed by the Council for Intermediate Examination.

                             </li>
                             <li>The subjects of Intermediate Course are classified into two groups with 3 papers each. The students can study and appear in the Examination group-wise or both the groups together.
                            </li>
                           </ol>
                           <h4 style="color:rgb(255, 166, 0)"><b>Passing Criteria</b></h4>
                           <p>
                            A student may appear in both the groups simultaneously or in one group in one examination and in the remaining group in any subsequent examination. He is declared to have passed the Intermediate examination, if he passes both the groups. The provisions are as under:

                           </p>
                           <ol>
                            <li>A student shall ordinarily be declared to have passed in both the Groups simultaneously, if he:
                                <ul>
                                    <li>
                                        Secures at one sitting a minimum of 40% marks in each paper of each of the Groups, viz, Group-I and Group-II, and minimum of 50% marks in the aggregate of all the papers of each of the Groups. or

                                    </li>
                                    <li>
                                        Secures at one sitting a minimum of 40% marks in each paper of both the Groups, viz., Group-I and Group-II and minimum of 50% marks in the aggregate of all the papers of both the Groups taken together.

                                    </li>
                                </ul>
                            </li>
                            <li>
                                A student shall be declared to have passed in a Group if he:
                                <ul>
                                    <li>Secures at one sitting a minimum of 40% marks in each paper of Group and minimum of 50% marks in the aggregate of all the papers of that Group.
                                    </li>
                                </ul>
                            </li>
                           </ol>
                           <h3 class="" style="color:#013120;text-align: center;">
                            <b> Papers at Intermediate Level</b>
 
                           </h3>
                           <h5><b>Group I</b></h5>
                           <div class="row">
                             <div class="col-sm-12">
                                 <img src="../../../assets/img/paper2.png" width="100%">
                             </div>
                           </div>
                           <h5><b>Group II</b></h5>
                           <div class="row">
                             <div class="col-sm-12">
                                 <img src="../../../assets/img/paper3.png" width="100%">
                             </div>
                           </div>

                           <h4 style="color:blue">EXEMPTION
                        </h4>
                        <p>A student who appeared in all the papers comprised in a Group/Unit and fails in one or more papers in that Group/Unit but secures a minimum of 60% marks in any paper(s) of that Group/Unit shall be eligible for exemption in that paper(s) in the next three following examinations. Which means that while he is availing the benefit of exemption secured in paper(s) during previous examination, he shall have to qualify the remaining papers in any of the next three following examinations.
                        </p>
                        <p>
                            He shall be declared to have passed in that Group/Unit if he secures at one sitting a minimum of 40% marks in each of the papers of that Group/Unit and a minimum of 50% of the total marks of all the papers of that Group/Unit including the paper(s) in which he had secured a minimum of 60% marks in the earlier examination.<I>He shall not be eligible for any further exemptions in the remaining paper(s) of that Group/Unit until he has exhausted the exemptions already granted to him in that Group/Unit.
                            </I>
                        </p>
                        <p>
                            If a candidate has exhausted the exemption granted to him under sub-regulation (8) of Regulation 37E and he was not able to pass the said Group or Unit, he may opt for the continuing of said exemption to the subsequent examinations. However, in such a case, such candidate shall be required to obtain a minimum of fifty per cent marks in each of the remaining paper/s of that Group or Unit in order to declare him to have passed in that Group or Unit.

                        </p>
                         </div>
                       </div> 
                     </div>                                   
                   </div>
                 </div>
               </div>
               <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Categories</h3>
                     <ul class="mu-sidebar-catg" style="list-style-type: none">
                      <li><a routerLink="/ca-course/ca-foundation"   >CA Foundation</a></li>
                      <li><a routerLink="/ca-course/ca-intermediate" style="color: orange">CA Intermediate</a></li>
                      <li><a  routerLink="/ca-course/ca-final">CA Final</a></li>
                    </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>RESULT</h3>
                     <div class="mu-sidebar-popular-courses">
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object"  src="../../assets/img/smal-banner.png" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a routerLink="/result">CA Foundation</a></h4>                      
                           <!-- <span class="popular-course-price">$200.00</span> -->
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object"  src="../../assets/img/smal-banner.png" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a routerLink="/result" style="color:orange">CA Intermediate</a></h4>                      
                           <!-- <span class="popular-course-price">$250.00</span> -->
                         </div>
                       </div>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object"   src="../../assets/img/smal-banner.png" alt="img">
                           </a>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading"><a routerLink="/result">CA Final</a></h4>                      
                           <!-- <span class="popular-course-price">$90.00</span> -->
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="mu-single-sidebar">
                    <h3>Our Batches</h3>
                    Batches are announced time to time refer our home page for the ongoing batches.
                  </div>
                   
                  <div class="mu-single-sidebar">
                    <h3>Faculties</h3>
                    <div class="tag-cloud">
                      <a (click)="navigateToSection('faculty', 'section1')">CA Foundation</a>
                      <a (click)="navigateToSection('faculty', 'section2')" style="color:orange">CA Intermediate</a>
                      <a routerLink="/faculty">CA Final</a>
                    </div>
                  </div>
                 </aside>
                 <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
   